/* --- RESULT VIEW STYLES --- */
.result-card {
        position: relative;
    }
    .result-card img {
        max-height: 800px;
    }
    
    /* Action Buttons */
    .action-button {
        flex: 1;
        max-width: 200px;
    }
    
    /* --- FULL SCREEN IMAGE VIEW STYLES --- */
    .full-screen-modal {
        background-color: rgba(0, 0, 0, 0.95);
    }
    .full-screen-content {
        width: 98%;
        height: 98%;
        max-width: 100%;
        max-height: 100%;
        background: none !important;
        position: relative;
    }